.fr-wrapper > div:not(.fr-element) {
    position: absolute !important;
    top: -31px !important;
    opacity: 0 !important;
    z-index: -1 !important;
}
.fr-wrapper .fr-placeholder {
    top: -27px !important;
}
